[phases.setup]
nixPkgs = ["python312", "libxml2", "libxslt", "gcc", "pkg-config"]

[phases.install]
cmds = ["pip install --upgrade pip", "pip install -r requirements.txt"]

[start]
cmd = "uvicorn main:app --host 0.0.0.0 --port $PORT"